<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">This api is for random user generator</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-geo-alt-fill fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">Country</h5>
                        <p class="text-muted mb-0">{{details.country_name}}</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">State name</h5>
                    <p class="text-muted mb-0">{{details.region_name}}</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">City</h5>
                    <p class="text-muted mb-0">{{details.city}}</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi bi-clock-history fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">Time Zone</h5>
                    <p class="text-muted mb-0">{{details.time_zone}}</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">Latitude</h5>
                    <p class="text-muted mb-0">{{details.latitude}}</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">Longitude</h5>
                    <p class="text-muted mb-0">{{details.longitude}}</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">IP</h5>
                    <p class="text-muted mb-0">{{details.ip}}</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">Zip code</h5>
                    <p class="text-muted mb-0">{{details.zip_code}}</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">Country code</h5>
                    <p class="text-muted mb-0">{{details.country_code}}</p>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">State code</h5>
                    <p class="text-muted mb-0">{{details.region_code}}</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">Metro code</h5>
                    <p class="text-muted mb-0">{{details.metro_code}}</p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 text-center">
                <div class="mt-5">
                    <div class="mb-1"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h5 class="h5 mb-1">City</h5>
                    <p class="text-muted mb-0">{{details.city}}</p>
                </div>
            </div>
        </div>
    </div>
</section>